<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home"><img src="../../../assets/img/RVM-logo.png" alt="" width="90"
            height="29"></a>
        <button class="navbar-toggler btn-opciones" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f0f8ff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="4" y1="6" x2="20" y2="6" />
              <line x1="4" y1="12" x2="20" y2="12" />
              <line x1="4" y1="18" x2="20" y2="18" />
            </svg></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/login">Inicio Sesión</a>
              <!-- [routerLink]="['/','login']" -->
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registro">Registrarme</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <div class="container-fluid contenedor">
      <div class="row main-content text-center  ">
        <div class="col-md-4 text-center company__info ">
          <div>
            <img id="logo" src="../../../../assets/img/RVM-logo.png" alt="logo">
          </div>

        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
          <div class="container-fluid">
            <div class="row" style="padding-top: 2%; padding-left: 2%; ">
              <h2>Iniciar Sesión</h2>
            </div>

            <div class="row">

              <div class="col-12">
                <input id="iconoUsuario" [formControl]="userLogCtrl" type="text" class="form__input" placeholder="@   e-mail">

                <!-- <span>
                        <small id="mensajeUser"
                         >
                          <i class="fa fa-times fa-2x"></i>
                          Este campo es requerido
                        </small>
                      </span> -->
              </div>


              <div class="col-12">

                <input id="iconoContrasenia" [formControl]="pasworLogCtrl" type="password" class="form__input" placeholder="  Password">
                <!--  <span>
                        <small id="mensajeUser">
                          <i class="fa fa-times fa-2x"></i>
                          Este campo es requerido
                        </small>
                      </span> -->
              </div>

            </div>
            <div class="row">
              <div class="col col-12">
                <button type="button" class="btn boton" (click)="validarUsuario()">Iniciar Sesión</button>
              </div>
            </div>

            <div class="row">
              <p>¿No tenés una cuenta? <a class="registro" data-bs-toggle="modal"
                  data-bs-target="#registroModal">Registrate ahora!</a></p>

            </div>
          </div>
        </div>
      </div>

    </div>

  </main>
  <!-- Modal registro usaurio -->
  <div class="modal fade" id="registroModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrate Ahora</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div class="container">

            <div class="row">

              <form class="formulario">
                <!-- Nombre -->
                <div class="input-group flex-nowrap inputModal">

                  <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                    [formControl]="nombreCtrl">

                </div>
                <!-- Apellido -->
                <div class="input-group flex-nowrap inputModal">

                  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-plus"></i></span>
                  <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido"
                  [formControl]="apellidoCtrl">

                </div>
                <!-- Celular -->
                <div class="input-group flex-nowrap inputModal">

                  <span class="input-group-text" id="addon-wrapping"><i
                      class="fa-solid fa-mobile-screen-button"></i></span>
                  <input type="number" class="form-control" placeholder="Teléfono" aria-label="Celular"
                  [formControl]="telefonoCtrl">

                </div>
                <!-- DNI -->
                <div class="input-group flex-nowrap inputModal">

                  <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-address-card"></i></span>
                  <input type="number" class="form-control" placeholder="DNI" aria-label="Dni"
                  [formControl]="dniCtrl">

                </div>
                <!-- Usuario -->
                <div class="input-group flex-nowrap inputModal">

                  <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-circle-user"></i></span>
                  <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario"
                  [formControl]="usuarioCtrl">

                </div>
                <!-- Correo -->
                <div class="input-group flex-nowrap inputModal">

                  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-at"></i></span>
                  <input type="text" class="form-control" placeholder="Correo" aria-label="Correo"
                  [formControl]="correoCtrl">

                </div>
                <!-- Contraseña -->
                <div class="input-group flex-nowrap inputModal">

                  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-unlock"></i></span>
                  <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña"
                  [formControl]="contraseniaCtrl">

                </div>
                <!-- Confirmar Contraseña -->
                <div class="input-group flex-nowrap inputModal">

                  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                  <input type="password" class="form-control" placeholder="Confirmación" aria-label="Confirmación"
                  [formControl]="confirmacionCtrl">

                </div>
              </form> <!-- fin del formulario -->

            </div> <!-- row -->

          </div><!-- container -->


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" (click)="validarContrasenia()">Registrarme</button>

        </div>
      </div>
    </div>
  </div>
</body>